html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

h1, h2, dt {
  font-style: italic;
}

h1 {
  margin: 1.5rem 1rem;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap: .75rem;
}

.banner img {
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 100%;
}

.text {
  color: #fff;
  padding: 1.5rem 1rem;
  align-self: end;
}

div .text {
  grid-column: 1/-1;
  grid-row: 2;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main main main";
  padding-top: .75rem;
  gap: .75rem;
}

img {
  width: 100%;
}

figure {
  margin: 0;
  grid-area: auto;
}

figcaption {
  padding: 0 1rem;
}
