html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Merriweather", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin:0;
}

h1, h2, dt {
  font-style: italic;
}

h1 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "banner banner banner"
    "box1 box2 box3";
  gap: .75rem;
}

div img {
  grid-area: banner;
  max-width: inherit;
}

img {
  width: 100%;
}

header h2, p {
  margin: 0;
}

figure {
  margin: 0;
}

figcaption {
  padding: 1.5rem 1rem;
}

.text {
  grid-area: banner;
  color: #fff;
  padding: 1.5rem 1rem;
  align-self: end;
}
